body{
  font-family: arial,sans-serif;
  font-size: 20px;
  -moz-appearance: none;
  -webkit-appearance:none;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
input{
width: 450px;
margin: auto;
height: 30px;
padding: 5px 100px 5px 50px;
border-radius: 30px;
border: 1px solid #dfe1e5;
background-image: url(../images/search-icon.png);
background-repeat: no-repeat;
background-size: 25px;
background-position: 11px 7px;
font-family: arial,sans-serif;
}
button{
  margin: 5px;
  margin-top: 30px;
  height: 30px;
  border: none;
}
.Header a{
text-decoration: none;
color: black;
font-size: 15px;
padding: 10px;
}
.Header a:hover{
  text-decoration: underline;
}
.header-left{
  float: left;
}
.header-right{
  float:right;

}
